background-image: url("./to.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .j1
    {
        text-align: center; 
        color: rgb(235, 232, 238);
        font-size: 250%;
        font-weight: bold;
        font-style: oblique;
        
    }
    .fn
    {
        text-align: center; 
        color: rgb(235, 232, 238);
        font-size: 130%;
        font-weight: bold;
    }
    .b1
    {
        height: 26px;
        width: 224px;
        background: transparent;
        border-right: 1px solid white;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        border-radius: 20px;
        margin-left: 50px;
        float: right;
        margin-right: 200px;
    }
    .b1:hover{ 
        border-top: 1px solid white;;
    }
    .border{
       border: 2px solid white;
       margin-left: 335px;
       margin-right: 335px;
       padding-top: 20px;
       padding-bottom: 20px;
    }
    label{
float: left;
margin-left: 250px;
    }
}